@using Library.Models.Models
@model List<Book>

<div class="container">
    <div class="row pt-4 pb-3">
        <div class="col-6">
            <h2 class="text-primary">Book List</h2>
        </div>
        <div class="col-6 text-end">
            <!--Controller e o action é o metodo-->
            <a asp-controller="Book" asp-action="Upsert" class="btn btn-primary">
                <i class="bi bi-plus-circle"></i> Register New Book
            </a>
        </div>
    </div>
    <table id="myTable" class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Title</th>
                <th>ISBN</th>
                <th>Price</th>
                <th>Author</th>
                <th>Category</th>
                <th></th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

@section Scripts {
    <script src="~/js/book.js"></script>
}