@using Library.Models.Models
@model List<Post>


    <div class="row justify-content-center">
        <div class="col-lg-8 col-md-12">
        <h1 class="my-3">Posts</h1>
        <div class="card mb-3">
            <div class="row">
                <div class="col-2">
                    <img src="~/c53ef2_59f712ce80c94c1bbe9b8ac56b15b97d~mv2.webp" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-10">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
   
