@using Library.Models.Models
@model List<BookCategory>

<div class="container">
    <div class="row pt-4 pb-3">
        <div class="col-6">
            <h2 class="text-primary">Category List</h2>
        </div>
        <div class="col-6 text-end">
            <!--Controller e o action é o metodo-->
            <a asp-controller="BookCategory" asp-action="Upsert" class="btn btn-primary">
                <i class="bi bi-plus-circle"></i> Register New Category
            </a>
        </div>
    </div>
    <table id="myTable" class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th></th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

@section Scripts {
    <script src="~/js/bookCategory.js"></script>
}