<br />
<h2 class="text-center pb-5 mb-5 mt-5">Nossa História</h2>
<div class="container justify-content-center">
    <div class="row justify-content-center">
        <div class="col-4 p-4 bg-primary justify-content-center">
            <div class="container bg-white">
                <br />
                <br />
                <p>
                    Mestre em cultura japonesa pela Universidade de São Paulo (USP), com especialização em ukiyo-e e em seu expoente maior, Katsushika Hokusai, Diogo Kaupatez trabalhou no mercado livreiro como assistente na editora Estação Liberdade e como vendedor na Livraria Cultura e Livraria da Vila, época em que iniciou sua carreira como tradutor de inglês e japonês, contribuindo com editoras como Cosac Naify e Planeta.
                </p>
                <br />
                <p>
                    Em 2016, ano em que permaneceu no Japão atuando como tradutor e revisor de textos budistas para a editora japonesa Ichimannendo, decidiu fundar a C33 Editora e, assim, disponibilizar ao público brasileiro conteúdos inéditos ou pouco disseminados no país, desde folclore, arte e cultura até questões relativas à sexualidade e comportamento.
                </p>
                <br />
                <p>
                    A C33 Editora busca vivenciar e implementar os valores, japoneses e brasileiros, em que acredita. Não somente na escolha do acervo de livros e no conteúdo dos seus cursos, queremos estar disponíveis ao público, priorizar profissionais historicamente desvalorizadas pelo mercado e trazer para o cotidiano conceitos japoneses por vezes abstratos — possibilitando, mesmo que pequenas, mudanças positivas na sociedade.
                </p>
                <br />
            </div>
        </div>
    </div>
</div>