<br />
<br />
<br />
<br />
<div class="container">
    <div class="row justify-content-center align-content-center text-center">
        <div class="col-8">
            <a class="btn btn-primary btn-lg" asp-controller="Book" asp-action="Index">Books</a>
            <a class="btn btn-primary btn-lg" asp-controller="Category" asp-action="Index">BookCategories</a>
            <a class="btn btn-primary btn-lg" asp-controller="Order" asp-action="Index">Orders</a>
            <a class="btn btn-primary btn-lg" asp-controller="Book" asp-action="Index">Books</a>
        </div>
    </div>
</div>